@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,900;1,800&display=swap');

/* ESTILOS GENERALES */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ESTILO DE CAJA */
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', 'sans-serif';
}
/* NAVBAR GRADIENTE */
.header_container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,36,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  display: flex;
  gap: 300px;
}

.header_logo {
  width: 89px;
  padding: 0px 0px 0px 20px;
  margin: 10px 10px 10px 10px;
}


.name {
  color: rgb(237, 194, 22) ;
  position: absolute;
  font-size: 25px;
  left: 117px;
  bottom: 88%
}


.navbar_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar_container-ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_container-ul-li {
  font-size: 18px;
  font-weight: 300;
}

.navbar_container-ul-li-link {
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2px 12px 2px 10px;
  margin: auto;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.navbar_container-ul-li-link i {
  color: rgb(237, 194, 22)
}

.navbar_container-ul-li-link:hover {
  color: black;
  border-color: rgb(0, 0, 0);
  background-color: white;
  font-size: 20px;
/* ANIMACIONES */
} 

.carrousel-list {
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 30%;
  border: 1px 1px 1px 1px;
  }

.galeria img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.galeria {
  display: flex;
  overflow: auto;
}